numpy
jax
jaxlib
scipy
numpyro
matplotlib
corner
getdist
arviz
fgivenx @ git+https://github.com/handley-lab/fgivenx.git
sphinx>=5.0
myst-parser
sphinx-rtd-theme
scikit-learn
jaxopt
prettytable
ipywidgets
